<div id="header">
	
	<div id="header-header">
			<img src="/assets/mainimage2.jpg" alt="" id= "main-image" >
		<script>
			$('#main-image').fadeIn(4500);
		</script>
	</div>
	<%= render "shared/header.header" %>
</div>
