.opus-form{
  width: 100vw;
  min-height: 85vh;
  background-color: brown;
  font-family: 'PT Serif', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
.opus-form-box{
  width: 50%;
  background-color: cornsilk;
  padding: 20px;
}
.field_with_errors {
  display: contents;
}
.item-form{
  width: 100vw;
  /* height: 150vh; */
  background-color: brown;
  font-family: 'PT Serif', serif;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 50px;
}
.item-form-box{
  width: 50%;
  background-color: cornsilk;
  padding: 20px;
}

.opus-form-box > .btn-primary{
  text-align: center;
}
.btn{
  color: white;
}

@media (max-width: 1024px) {
  .opus-form-box{
    /* height: 75vh; */
    width: 80vw;
  }
  
}
 /* スマホ表示時 */
 @media (max-width: 599px) {
  .opus-form{
    width: 100vw;
    /* min-height: 200vh; */
    background-color: brown;
    font-family: 'PT Serif', serif;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-top: 40px; */
    /* padding-bottom: 50px; */
  }
  .opus-form-box{
    /* height: 75vh; */
    width: 80vw;
  }
  .item-form-box{
    width: 80%;
    background-color: cornsilk;
    padding: 20px;
  }
}