.contents {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  font-family: 'PT Serif', serif;
}
.contents img {
  width: 100%;
}
.text-center {
  text-align: center;
}
.flexbox {
  display: flex;
  height: 100vh;
}
.box1 {
  width: 55%;
  /* margin: auto; */
  padding: 20px;
}
.box2 {
  width: 45%;
  /* margin: auto .5rem; */
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .flexbox {
      display: block;
  }
  .flexbox .box1 {
      width: 100%;
      margin: 0 auto;
  }
  .flexbox .box2 {
      width: 100%;
      margin: 0 auto;
  }
}


#opus-show-box1{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 3fr 1fr 2fr 1fr;
  background-color: lightgrey;
}
#show-opus-image{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

#show-opus-image > iframe{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#show-left2{
  padding: 15px;
}
#left2-title{
  height: 100%;
  font-size: 30px;
  text-align: center;
  border-bottom: solid;
  border-color: black;
}
#show-left3{
  padding: 15px;
}
#left3-description{
  height: 100%;
  font-size: 14px;
  border-bottom: solid;
  border-color: black;
}
#show-left4{
  padding: 15px;
}
#left4-description{
  height: 100%;
  text-align: center;
}
#left4-description > .btn{
  margin: 10px 40px;
}
#opus-show-middle{
  padding: 15px;
  background-color: lightgrey;
}
#opus-show-box2{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 4fr 1fr;
}
#show-middle1{
  border-bottom: solid;
  border-color: black;
}
#show-middle1 > #comment-message{
  height: 550px;
  width: 460px;
  overflow: scroll;
  word-wrap: break-word;
}
/* タブレット表示時 */
@media (max-width: 1024px) {
  #show-middle1{
    border-bottom: solid;
    border-color: black;
    height: 600px;
    width: 300px;
    overflow: scroll;
    word-wrap: break-word;
  }
}
 /* スマホ表示時 */
 @media (max-width: 599px) {
  #show-middle1 > #comment-message{
    height: 450px;
    width: 460px;
    overflow: scroll;
    word-wrap: break-word;
  }
  #opus-show-middle{
    margin-top: 200px;
  }
}

