* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.sign-in-filde{
  width: 100vw;
  height: 100vh;
}
.signimage{
  background-image: url("sign-in.jpg");
  width: 100vw;
  height: 100vh;
  display: none;
}
.signimage-header{
  text-align: center;
  /* height: 15vh; */
  /* width: 100vw; */
  padding-top: 8vh;
}
.signimage-p{
  font-size: 35px;
  color: white;
  font-family: 'PT Serif', serif;
  display: none;
}
.sign-in-box{
  font-family: 'PT Serif', serif;
  width: 300px;
  height: 50%;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: none;
  padding: 10px;
  background-color: darkgray;
}
.sign-up-box{
  font-family: 'PT Serif', serif;
  width: 300px;
  height: 90%;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: none;
  padding: 20px;
  background-color: darkgray;
}
.actions{
  margin-top: 2vh;
}


.sign-in-boxs{
  padding-top: 5vh;
  display: flex;
  justify-content: center;
}
.field-profile{
  height: 5vh;
}