.user-show-contents{
  background-color: brown;
}
.userflexbox {
  display: flex;
  height: 150vh;
}
.userbox1 {
  width: 45%;
  padding: 20px;
  background-color: lightgray;
}
.userbox2 {
  width: 55%;
  padding: 20px;
  /* margin: auto .5rem; */
}
@media screen and (max-width: 767px) {
  .userflexbox {
      display: block;
  }
  .userflexbox .box1 {
      width: 100%;
      margin: 0 auto;
  }
  .userflexbox .box2 {
      width: 100%;
      margin: 0 auto;
  }
}

#user-show-left{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr 3fr 1fr;
}
#user-left-box1{
  height: 100%;
  width: 100%;
}
#user-left-box1 > img{
  width:100%;
  max-width: 100%;
  height: auto;
}
.user-left-box{
  padding: 15px;
}
.user-left-box > .user-left-box2{
  height: 100%;
  border-bottom: solid;
  border-color: black;
  text-align: center;
  font-size: 30px;
}
.user-left-box > .user-left-box3{
  height: 350px;
  border-bottom: solid;
  border-color: black;
  font-size: 14px;
  width: 440px;
  word-wrap: break-word;
  overflow: scroll;
}
.user-left-box > .user-left-box4{
  /* height: 100%; */
}
#user-show-opuses{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll;
  height: 135vh;
}
#user-show-opus{
  width: 200px;
  height: 300px;
}
#user-show-opus-top{
  width: 200px;
  height: 200px;
  overflow: hidden;
}



 /* スマホ表示時 */
 @media (max-width: 599px) {
  .userbox1 {
    width: 100%;
    padding: 20px;
    background-color: lightgray;
  }
  #user-show-left{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 2fr 1fr;
  }
  .userbox2 {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 667px) {
  /* #user-show-left{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  } */
  /* .userflexbox{
    display: flex;
  } */
  .userbox2{
    width: calc(100% - 45%);
    background-color: brown;
  }
}
@media (max-width: 375px) {
  #user-left-box1 > img{
    width: 300px;
  }
  
}
@media (max-width: 1024px) {
  .userbox1 {
    width: 100%;
    padding: 20px;
    background-color: lightgray;
  }
  #user-show-left{
    width: 100%;
    height: 100%;
    display: grid;
    width: 60%;
    grid-template-rows: 2fr 1fr 1fr 1fr 2fr 1fr;
  }
  .userbox2 {
    width: 100%;
    padding: 20px;
  }
  
}